/* CORPO DA PÁGINA */
body {
    width: 100vw;
    height: 100vh;
    background-color: #EEF9BF;
}
/* REGRA DO TEXTO GERAL */
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #75B79E;
    text-align: center;
    margin-top: 40px;
    margin-bottom: calc(47px - 17px);
}
/* DIV QUE ARMAZENA AS CARTAS */
section {
    /* box-sizing: border-box; */
    /* border: 1px solid black; */
    padding-bottom: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* CARTAS - FRENTE E VERSO */
figure {
    width: 117px;
    height: 146px;
    position: relative;
    margin: 17px;
    box-sizing: border-box;
}
.carta {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 5px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    transform-style: preserve-3d;
    box-sizing: border-box;
    border: 1px solid #99CEA8;
    /* transition-delay: 1s; */
}
.carta-frente {
    background-color: blue;
    /* border: 1px solid black; */
    transform: rotateY(-180deg);
    background-image: url("/assets/bobrossparrot.gif");
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
    /* backface-visibility: visible; */
}
.carta-costas {
    background-color: red;
    /* border: 1px solid black; */
    transform: rotateY(0deg);
    background-image: url("/assets/front.png");
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
    /* display: none; */
}
/* REFERÊNCIAS PARA GIRO DE CARTAS */

.virar-costas {
    transform: rotateY(180deg);
    /* transition-delay: 1s; */
    /* transform: rotateY(0deg); */
}
.virar-frente {
    transform: rotateY(0deg);
    /* transition-delay: 1s; */
    /* transform: rotateY(0deg); */
}


/* MODO DESKTOP */
@media (min-width: 336px) {
    body {
        background-color: rebeccapurple;
    }
    h1 {
        font-size: 56px;
    }
    section {
        /* box-sizing: border-box; */
        /* border: 1px solid black; */
        padding-bottom: 17px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
}