/* CORPO DA PÁGINA */
body {
    width: 100vw;
    height: 100vh;
    background-color: #EEF9BF;
}
/* REGRA DO TEXTO GERAL */
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #75B79E;
    text-align: center;
    margin-top: 40px;
    margin-bottom: calc(47px - 17px);
}
/* DIMENSÃO DAS GIS */
img {
    width: 100px;
    height: 100px;
}
/* POSIÇÃO E LAYOUT DO RELOGIO */
time {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 20px;
}
/* DIV QUE ARMAZENA AS CARTAS */
section {
    padding-bottom: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* CARTAS - FRENTE E VERSO */
figure {
    width: 117px;
    height: 146px;
    position: relative;
    margin: 17px;
    box-sizing: border-box;
}
.carta {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
    transition: all 1s;
    transform-style: preserve-3d;
    box-sizing: border-box;
    border: 1px solid #99CEA8;
    justify-content: center;
    align-items: center;
    display: flex;
}
.carta-frente {
    transform: rotateY(-180deg);
}
.carta-costas {
    transform: rotateY(0deg);
    background-image: url("/assets/front.png");
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
}
/* REFERÊNCIAS PARA GIRO DE CARTAS */
.virar-costas {
    transform: rotateY(180deg);
}
.virar-frente {
    transform: rotateY(0deg);
}
/* MODO DESKTOP */
@media (min-width: 336px) {
    h1 {
        font-size: 56px;
    }
    section {
        padding-bottom: 17px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
}